body {
margin: 0;
line-height: normal;
}

.b9464-1fc8-42d6-92ae-814578dc7-parent {
  	width: 100%;
  	height: 22507px;
  	position: relative;
  	background-color: #000;
  	overflow: hidden;
  	text-align: left;
  	font-size: 30px;
  	color: #fff;
  	font-family: 'Roboto Serif';
}
.b9464-1fc8-42d6-92ae-814578dc7 {
  	position: absolute;
  	top: 1188px;
  	left: 0px;
  	width: 1188px;
  	height: 1933px;
  	transform:  rotate(-90deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.image-19-icon {
  	position: absolute;
  	top: 18735px;
  	left: 677px;
  	border-radius: 34px;
  	width: 1148px;
  	height: 584px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-18-icon {
  	position: absolute;
  	top: 18162px;
  	left: 96px;
  	border-radius: 34px;
  	width: 1148px;
  	height: 518px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-17-icon {
  	position: absolute;
  	top: 17575px;
  	left: 1023px;
  	border-radius: 35px;
  	width: 815px;
  	height: 489px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-16-icon {
  	position: absolute;
  	top: 17575px;
  	left: 96px;
  	border-radius: 35px;
  	width: 847px;
  	height: 489px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-15-icon {
  	position: absolute;
  	top: 5490px;
  	left: 165px;
  	border-radius: 275px;
  	width: 637px;
  	height: 955px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-14-icon {
  	position: absolute;
  	top: 12564px;
  	left: 1008px;
  	border-radius: 35px;
  	width: 808px;
  	height: 541px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-11-icon {
  	position: absolute;
  	top: 11344px;
  	left: 1008px;
  	border-radius: 35px;
  	width: 808px;
  	height: 541px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-10-icon {
  	position: absolute;
  	top: 10797px;
  	left: 1008px;
  	border-radius: 35px;
  	width: 808px;
  	height: 509px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-7-icon {
  	position: absolute;
  	top: 11923px;
  	left: 1008px;
  	border-radius: 35px;
  	width: 808px;
  	height: 608px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-6-icon {
  	position: absolute;
  	top: 11923px;
  	left: 125px;
  	border-radius: 35px;
  	width: 811px;
  	height: 608px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.blue-gradient-filter {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(0.02deg, rgba(255, 255, 255, 0), rgba(0, 246, 255, 0.26));
  	width: 1933px;
  	height: 1188px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.olongapos-history {
  	position: absolute;
  	top: 311px;
  	left: 62px;
  	width: 924px;
  	height: 675px;
  	flex-shrink: 0;
  	font-size: 150px;
  	color: #000;
}
.rounded-rectangle {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	backdrop-filter: blur(4px);
  	border-radius: 25px;
  	background-color: rgba(211, 211, 211, 0.44);
  	width: 924px;
  	height: 675px;
}
.olongapo-city {
  	position: absolute;
  	top: 18px;
  	left: 34px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 778px;
  	height: 340px;
}
.olongapo-city-stands {
  	position: absolute;
  	top: 407px;
  	left: 34px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 858px;
  	height: 241px;
}
.from-a-humble {
  	position: absolute;
  	top: 1563px;
  	left: 197px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1539px;
  	height: 142px;
  	flex-shrink: 0;
}
.the-name-olongapo-container {
  	position: absolute;
  	top: 2023px;
  	left: 116px;
  	letter-spacing: 0.03em;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	width: 1715px;
  	height: 349px;
  	flex-shrink: 0;
  	color: #00f6ff;
}
.the-name-olongapo-container2 {
  	width: 100%;
}
.according-to-the {
  	font-weight: 500;
  	color: #fff;
}
.before-the-arrival-container {
  	position: absolute;
  	top: 2670px;
  	left: 116px;
  	letter-spacing: 0.03em;
  	display: flex;
  	align-items: center;
  	width: 1634px;
  	height: 314px;
  	flex-shrink: 0;
}
.before-the-arrival-of-foreign {
  	margin: 0;
  	color: #00f6ff;
}
.blank-line {
  	margin: 0;
  	font-weight: 500;
}
.the-aetas-as-the-earliest-set {
  	margin: 0;
  	font-size: inherit;
  	padding-left: 40px;
}
.the-aetas-as-the-earliest-set2 {
  	margin-bottom: 0px;
}
.the-aetas {
  	font-family: 'Roboto Serif';
}
.as-the-earliest {
  	font-weight: 500;
}
.the-destiny-of-container {
  	position: absolute;
  	top: 3401px;
  	left: 116px;
  	letter-spacing: 0.03em;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	width: 1715px;
  	height: 524px;
  	flex-shrink: 0;
}
.following-the-treaty-container {
  	position: absolute;
  	top: 4261px;
  	left: 109px;
  	letter-spacing: 0.03em;
  	display: flex;
  	align-items: center;
  	width: 1715px;
  	height: 419px;
  	flex-shrink: 0;
  	color: #00f6ff;
}
.following-the-treaty-of-paris {
  	margin: 0;
}
.in-the-early {
  	font-weight: 500;
  	font-family: 'Roboto Serif';
  	color: #fff;
}
.growth-and-war-the-town-grew {
  	margin: 0;
  	font-size: inherit;
  	padding-left: 40px;
  	color: #fff;
}
.ulo-ng-apo {
  	position: absolute;
  	top: 226px;
  	left: 1012px;
  	width: 868px;
  	height: 913px;
  	flex-shrink: 0;
  	font-size: 36px;
  	color: #000;
}
.b8a837-edcc-4e32-a7f7-719aaf42-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 754px;
  	height: 837px;
  	object-fit: cover;
}
.ulo-ng-apo-child {
  	position: absolute;
  	top: 760px;
  	left: 506px;
  	backdrop-filter: blur(4px);
  	border-radius: 25px;
  	background-color: rgba(217, 217, 217, 0.44);
  	width: 362px;
  	height: 153px;
}
.december-7-1959 {
  	position: absolute;
  	top: 774px;
  	left: 524px;
  	display: inline-block;
  	width: 326px;
  	height: 42px;
}
.olongapo-became-a-municipality {
  	position: absolute;
  	top: 839px;
  	left: 509px;
  	font-size: 20px;
  	font-weight: 500;
  	text-align: center;
  	display: inline-block;
  	width: 356px;
  	height: 44px;
}
.rounded-rectangle2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	backdrop-filter: blur(4px);
  	border-radius: 25px;
  	background-color: rgba(211, 211, 211, 0.44);
  	width: 300px;
  	height: 134px;
}
.june-1-1966 {
  	position: absolute;
  	top: 11px;
  	left: 41px;
  	display: inline-block;
  	width: 222px;
  	height: 44px;
}
.with-the-signing {
  	position: absolute;
  	top: 67px;
  	left: 39px;
  	font-size: 20px;
  	font-weight: 500;
  	text-align: center;
  	display: inline-block;
  	width: 222px;
  	height: 44px;
}
.frame-child {
  	position: absolute;
  	top: -0.2px;
  	left: -0.2px;
  	background-color: rgba(194, 194, 194, 0.4);
  	border: 0.2px solid #373636;
  	box-sizing: border-box;
  	width: 1933.4px;
  	height: 155.4px;
  	flex-shrink: 0;
}
.founding-and-early {
  	position: absolute;
  	top: 1396px;
  	left: 197px;
  	font-size: 100px;
  	font-weight: 600;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1539px;
  	height: 116px;
  	flex-shrink: 0;
}
.the-legend-ulo {
  	position: absolute;
  	top: 1832px;
  	left: 291px;
  	font-size: 100px;
  	font-weight: 600;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	width: 1539px;
  	height: 116px;
  	flex-shrink: 0;
}
.the-first-inhabitants {
  	position: absolute;
  	top: 2493px;
  	left: 116px;
  	font-size: 100px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 1539px;
  	height: 116px;
  	flex-shrink: 0;
}
.the-spanish-era {
  	position: absolute;
  	top: 3107px;
  	left: 292px;
  	font-size: 100px;
  	font-weight: 600;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	width: 1539px;
  	height: 233px;
  	flex-shrink: 0;
}
.the-american-occupation {
  	position: absolute;
  	top: 4084px;
  	left: 116px;
  	font-size: 100px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 1715px;
  	height: 116px;
  	flex-shrink: 0;
}
.government-system {
  	position: absolute;
  	top: 5273px;
  	left: 465px;
  	font-size: 100px;
  	font-weight: 600;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1004px;
  	height: 116px;
  	flex-shrink: 0;
}
.geography-and-environment {
  	position: absolute;
  	top: 9172px;
  	left: 240px;
  	font-size: 100px;
  	font-weight: 600;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1480px;
  	height: 116px;
  	flex-shrink: 0;
}
.heritage-and-traditions {
  	position: absolute;
  	top: 13446px;
  	left: 375px;
  	font-size: 100px;
  	font-weight: 600;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1183px;
  	height: 116px;
  	flex-shrink: 0;
}
.hotline-emergency-numbers {
  	position: absolute;
  	top: 19614px;
  	left: 252px;
  	font-size: 100px;
  	font-weight: 600;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1430px;
  	height: 116px;
  	flex-shrink: 0;
}
.origin-of-the {
  	position: absolute;
  	top: 14007px;
  	left: 91px;
  	font-size: 96px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 1467px;
  	height: 116px;
  	flex-shrink: 0;
}
.local-culture-and {
  	position: absolute;
  	top: 14481px;
  	left: 473px;
  	font-size: 96px;
  	font-weight: 600;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	width: 1360px;
  	height: 116px;
  	flex-shrink: 0;
}
.dna-of-the {
  	position: absolute;
  	top: 15160px;
  	left: 91px;
  	font-size: 96px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 1742px;
  	height: 223px;
  	flex-shrink: 0;
}
.jeepney-culture-and {
  	position: absolute;
  	top: 16191px;
  	left: 91px;
  	font-size: 96px;
  	font-weight: 600;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	width: 1742px;
  	height: 111px;
  	flex-shrink: 0;
}
.indigenous-roots {
  	position: absolute;
  	top: 16825px;
  	left: 83px;
  	font-size: 96px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 1742px;
  	height: 111px;
  	flex-shrink: 0;
}
.nav-buttons {
  	position: absolute;
  	top: 15px;
  	left: 62px;
  	width: 1815.5px;
  	height: 126.5px;
  	flex-shrink: 0;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Sansation;
}
.geography-and-environment2 {
  	position: absolute;
  	top: 46.99px;
  	left: 738.93px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 192.6px;
  	height: 33.6px;
}
.heritage-and-traditions2 {
  	position: absolute;
  	top: 43.63px;
  	left: 952.83px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 169.1px;
  	height: 33.6px;
}
.government-system2 {
  	position: absolute;
  	top: 46.99px;
  	left: 529.51px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 188.1px;
  	height: 33.6px;
}
.founding-and-early2 {
  	position: absolute;
  	top: 46.99px;
  	left: 299.93px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 208.3px;
  	height: 33.6px;
}
.home {
  	position: absolute;
  	top: 46.99px;
  	left: 175.62px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 103px;
  	height: 33.6px;
}
.options-icon {
  	position: absolute;
  	top: 18px;
  	left: 1733px;
  	width: 82.5px;
  	height: 82.5px;
  	object-fit: cover;
}
.olongapo-city-logo {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 127.6px;
  	height: 126.5px;
  	object-fit: cover;
}
.quote-in-founding-and-early-se {
  	position: absolute;
  	top: 4839px;
  	left: 998px;
  	width: 858px;
  	height: 168px;
  	flex-shrink: 0;
}
.quote-in-founding-and-early-se-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: rgba(255, 255, 255, 0.11);
  	width: 858px;
  	height: 168px;
}
.quote-in-founding-and-early-se-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #00f6ff;
  	width: 12px;
  	height: 168px;
}
.a-city-defined {
  	position: absolute;
  	top: 4902px;
  	left: 1080px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 744px;
  	height: 56px;
  	flex-shrink: 0;
}
.div {
  	position: absolute;
  	top: 4860px;
  	left: 1041px;
  	font-size: 96px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	color: #00f6ff;
  	display: flex;
  	align-items: center;
  	width: 94px;
  	height: 84px;
  	flex-shrink: 0;
}
.div2 {
  	position: absolute;
  	top: 4891px;
  	left: 169px;
  	font-size: 48px;
  	letter-spacing: 0.03em;
  	color: #00f6ff;
  	display: flex;
  	align-items: center;
  	width: 64px;
  	height: 50px;
  	flex-shrink: 0;
}
.k {
  	position: absolute;
  	top: 4891px;
  	left: 396px;
  	font-size: 48px;
  	letter-spacing: 0.03em;
  	color: #00f6ff;
  	display: flex;
  	align-items: center;
  	width: 142px;
  	height: 64px;
  	flex-shrink: 0;
}
.div3 {
  	position: absolute;
  	top: 4891px;
  	left: 686px;
  	font-size: 48px;
  	letter-spacing: 0.03em;
  	color: #00f6ff;
  	display: flex;
  	align-items: center;
  	width: 85px;
  	height: 64px;
  	flex-shrink: 0;
}
.barangays {
  	position: absolute;
  	top: 4948px;
  	left: 136px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 129px;
  	height: 28px;
  	flex-shrink: 0;
}
.population {
  	position: absolute;
  	top: 4954px;
  	left: 396px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 141px;
  	height: 28px;
  	flex-shrink: 0;
}
.sq-km-area {
  	position: absolute;
  	top: 4954px;
  	left: 651px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 155px;
  	height: 28px;
  	flex-shrink: 0;
}
.frame-item {
  	position: absolute;
  	top: 5131px;
  	left: 7px;
  	border-top: 2px solid rgba(255, 254, 254, 0.28);
  	box-sizing: border-box;
  	width: 1935px;
  	height: 2px;
  	transform:  rotate(-0.1deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.frame-inner {
  	position: absolute;
  	top: 6915.5px;
  	left: -0.5px;
  	border-top: 1px solid rgba(255, 254, 254, 0.28);
  	box-sizing: border-box;
  	width: 1935px;
  	height: 1px;
  	transform:  rotate(-0.1deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.line-div {
  	position: absolute;
  	top: 8993px;
  	left: -1px;
  	border-top: 2px solid rgba(255, 254, 254, 0.28);
  	box-sizing: border-box;
  	width: 1935px;
  	height: 2px;
  	transform:  rotate(-0.1deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.frame-child2 {
  	position: absolute;
  	top: 13280px;
  	left: -1px;
  	border-top: 2px solid rgba(255, 254, 254, 0.28);
  	box-sizing: border-box;
  	width: 1935px;
  	height: 2px;
  	transform:  rotate(-0.1deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.frame-child3 {
  	position: absolute;
  	top: 19458px;
  	left: 0px;
  	border-top: 2px solid rgba(255, 254, 254, 0.28);
  	box-sizing: border-box;
  	width: 1935px;
  	height: 2px;
  	transform:  rotate(-0.1deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.frame-child4 {
  	position: absolute;
  	top: 22019px;
  	left: 0px;
  	border-top: 2px solid rgba(255, 254, 254, 0.28);
  	box-sizing: border-box;
  	width: 1935px;
  	height: 2px;
  	transform:  rotate(-0.1deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.footer {
  	position: absolute;
  	top: 22035px;
  	left: -1px;
  	background-color: #000;
  	width: 1933px;
  	height: 472px;
  	overflow: hidden;
  	flex-shrink: 0;
  	text-align: center;
  	font-size: 16px;
  	font-family: Inter;
}
.rights-reserved {
  	position: absolute;
  	height: 5.72%;
  	top: 86.02%;
  	left: calc(50% - 261.5px);
  	line-height: 140%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 423px;
}
.footer2 {
  	position: absolute;
  	top: 67.98px;
  	left: 281px;
  	width: 1323.6px;
  	height: 262px;
  	text-align: left;
}
.column-4 {
  	position: absolute;
  	top: 0px;
  	left: 1065.98px;
  	width: 257.6px;
  	height: 237px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
}
.title {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 16px;
  	font-size: 24px;
}
.text-strong {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
}
.legal {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 100%;
  	font-weight: 500;
}
.text-link-list-item {
  	width: 89px;
  	height: 22px;
  	position: relative;
}
.terms-of-service {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	line-height: 140%;
  	flex-shrink: 0;
}
.column-3 {
  	position: absolute;
  	top: 0px;
  	left: 784.32px;
  	width: 248.5px;
  	height: 237px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
}
.images {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	line-height: 140%;
}
.column-2 {
  	position: absolute;
  	top: 0.02px;
  	left: 510px;
  	width: 251px;
  	height: 262px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
}
.home2 {
  	position: relative;
  	line-height: 140%;
}
.donor-street-east {
  	position: absolute;
  	top: 85.48px;
  	left: 0px;
  	font-size: 13px;
  	line-height: 140%;
  	display: inline-block;
  	width: 359px;
  	height: 17px;
}
.a-project-website {
  	position: absolute;
  	top: 0.02px;
  	left: 0.76px;
  	line-height: 140%;
  	display: inline-block;
  	width: 359px;
}
.understanding-the-administrati {
  	position: absolute;
  	top: 5402px;
  	left: 512px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 909px;
  	height: 30px;
  	flex-shrink: 0;
}
.governance {
  	position: absolute;
  	top: 5226px;
  	left: 866px;
  	font-size: 32px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	color: #00f6ff;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 201px;
  	height: 30px;
  	flex-shrink: 0;
}
.physical-geography-and {
  	position: absolute;
  	top: 9095px;
  	left: 574px;
  	font-size: 32px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	color: #00f6ff;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 785px;
  	height: 37px;
  	flex-shrink: 0;
}
.history-culture-and {
  	position: absolute;
  	top: 13370px;
  	left: 570px;
  	font-size: 32px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	color: #00f6ff;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 785px;
  	height: 37px;
  	flex-shrink: 0;
}
.emergency-and-assistance {
  	position: absolute;
  	top: 19540px;
  	left: 574px;
  	font-size: 32px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	color: #00f6ff;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 785px;
  	height: 37px;
  	flex-shrink: 0;
}
.our-origin {
  	position: absolute;
  	top: 1315px;
  	left: 873px;
  	font-size: 32px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	color: #00f6ff;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 188px;
  	height: 30px;
  	flex-shrink: 0;
}
.the-olongapo-city-hall-1 {
  	position: absolute;
  	top: 7046px;
  	left: 81px;
  	border-radius: 50px;
  	width: 970px;
  	height: 578px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.rectangle-div {
  	position: absolute;
  	top: 7739px;
  	left: 83px;
  	border-radius: 20px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 966px;
  	height: 293px;
  	flex-shrink: 0;
}
.frame-child5 {
  	position: absolute;
  	top: 8137px;
  	left: 68px;
  	border-radius: 20px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 1805px;
  	height: 754px;
  	flex-shrink: 0;
}
.frame-child6 {
  	position: absolute;
  	top: 7046px;
  	left: 1127px;
  	border-radius: 20px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 761px;
  	height: 195px;
  	flex-shrink: 0;
}
.frame-child7 {
  	position: absolute;
  	top: 5555px;
  	left: 967px;
  	border-radius: 35px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 911px;
  	height: 890px;
  	flex-shrink: 0;
}
.frame-child8 {
  	position: absolute;
  	top: 6518px;
  	left: 81px;
  	border-radius: 35px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 1797px;
  	height: 289px;
  	flex-shrink: 0;
}
.frame-child9 {
  	position: absolute;
  	top: 7299px;
  	left: 1127px;
  	border-radius: 20px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 761px;
  	height: 195px;
  	flex-shrink: 0;
}
.frame-child10 {
  	position: absolute;
  	top: 7565px;
  	left: 1127px;
  	border-radius: 20px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 761px;
  	height: 195px;
  	flex-shrink: 0;
}
.frame-child11 {
  	position: absolute;
  	top: 7837px;
  	left: 1127px;
  	border-radius: 20px;
  	background-color: rgba(255, 255, 255, 0.21);
  	width: 761px;
  	height: 195px;
  	flex-shrink: 0;
}
.cityhood-charter {
  	position: absolute;
  	top: 7773px;
  	left: 110px;
  	font-size: 48px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 420px;
  	height: 56px;
  	flex-shrink: 0;
}
.city-mayor {
  	position: absolute;
  	top: 7075px;
  	left: 1260px;
  	font-size: 36px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 262px;
  	height: 56px;
  	flex-shrink: 0;
}
.hon-rolen-c {
  	position: absolute;
  	top: 5578px;
  	left: 1010px;
  	font-size: 40px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 498px;
  	height: 56px;
  	flex-shrink: 0;
}
.city-mayor-olongapo {
  	position: absolute;
  	top: 5647px;
  	left: 1013px;
  	font-size: 32px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 420px;
  	height: 37px;
  	flex-shrink: 0;
}
.city-council {
  	position: absolute;
  	top: 7337px;
  	left: 1257px;
  	font-size: 36px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 262px;
  	height: 42px;
  	flex-shrink: 0;
}
.city-departments {
  	position: absolute;
  	top: 7604px;
  	left: 1257px;
  	font-size: 36px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 321px;
  	height: 42px;
  	flex-shrink: 0;
}
.barangay-system {
  	position: absolute;
  	top: 7874px;
  	left: 1257px;
  	font-size: 36px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 324px;
  	height: 40px;
  	flex-shrink: 0;
}
.understanding-olongapo-became {
  	position: absolute;
  	top: 7856px;
  	left: 111px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 909px;
  	height: 140px;
  	flex-shrink: 0;
}
.olongapo-city-operates {
  	position: absolute;
  	top: 8160px;
  	left: 125px;
  	font-size: 27px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1691px;
  	height: 707px;
  	flex-shrink: 0;
}
.olongapo-city-is {
  	position: absolute;
  	top: 9361px;
  	left: 125px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1691px;
  	height: 524px;
  	flex-shrink: 0;
}
.olongapo-citys-heritage {
  	position: absolute;
  	top: 13618px;
  	left: 121px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1691px;
  	height: 244px;
  	flex-shrink: 0;
}
.the-name-olongapo-container3 {
  	position: absolute;
  	top: 14179px;
  	left: 91px;
  	letter-spacing: 0.03em;
  	display: flex;
  	align-items: center;
  	width: 1742px;
  	height: 174px;
  	flex-shrink: 0;
}
.olongapo {
  	color: #00f6ff;
}
.olongapos-culture-reflects {
  	position: absolute;
  	top: 14653px;
  	left: 91px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	width: 1742px;
  	height: 349px;
  	flex-shrink: 0;
}
.bawal-ang-tamad-container {
  	position: absolute;
  	top: 15439px;
  	left: 91px;
  	letter-spacing: 0.03em;
  	display: flex;
  	align-items: center;
  	width: 1742px;
  	height: 594px;
  	flex-shrink: 0;
}
.volunteerism-as-a {
  	font-family: 'Roboto Serif';
  	color: #00f6ff;
}
.order-on-the-container {
  	position: absolute;
  	top: 16358px;
  	left: 96px;
  	letter-spacing: 0.03em;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	width: 1742px;
  	height: 314px;
  	flex-shrink: 0;
}
.the-aeta-stewardship-container {
  	position: absolute;
  	top: 16997px;
  	left: 83px;
  	letter-spacing: 0.03em;
  	display: flex;
  	align-items: center;
  	width: 1742px;
  	height: 384px;
  	flex-shrink: 0;
}
.in-case-of {
  	position: absolute;
  	top: 19785px;
  	left: 159px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1615px;
  	height: 174px;
  	flex-shrink: 0;
}
.primary-emergency-hotline-container {
  	position: absolute;
  	top: 20065px;
  	left: 96px;
  	letter-spacing: 0.03em;
  	display: flex;
  	align-items: center;
  	width: 1615px;
  	height: 1811px;
  	flex-shrink: 0;
}
.primary-emergency-hotline {
  	margin: 0;
  	font-size: 36px;
  	color: #00f6ff;
}
.national-emergency-number-fir {
  	margin: 0;
  	padding-left: 40px;
}
.the-chief-executive {
  	position: absolute;
  	top: 7144px;
  	left: 1154px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 694px;
  	height: 72px;
  	flex-shrink: 0;
}
.hon-rolen-c2 {
  	position: absolute;
  	top: 5714px;
  	left: 1013px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 824px;
  	height: 699px;
  	flex-shrink: 0;
}
.this-strong-foundation {
  	position: absolute;
  	top: 6565px;
  	left: 143px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1673px;
  	height: 196px;
  	flex-shrink: 0;
}
.the-legislative-body {
  	position: absolute;
  	top: 7397px;
  	left: 1154px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 694px;
  	height: 72px;
  	flex-shrink: 0;
}
.various-departments-handle {
  	position: absolute;
  	top: 7663px;
  	left: 1154px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 694px;
  	height: 72px;
  	flex-shrink: 0;
}
.seventeen-barangays-serve {
  	position: absolute;
  	top: 7935px;
  	left: 1154px;
  	font-size: 24px;
  	letter-spacing: 0.03em;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 694px;
  	height: 53px;
  	flex-shrink: 0;
}
.image-1-icon {
  	position: absolute;
  	top: 7061px;
  	left: 1152px;
  	width: 78px;
  	height: 78px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-2-icon {
  	position: absolute;
  	top: 7314px;
  	left: 1152px;
  	width: 83px;
  	height: 83px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-3-icon {
  	position: absolute;
  	top: 7573px;
  	left: 1154px;
  	width: 87px;
  	height: 87px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-4-icon {
  	position: absolute;
  	top: 7856px;
  	left: 1156px;
  	width: 76px;
  	height: 76px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-8-icon {
  	position: absolute;
  	top: 10066px;
  	left: 125px;
  	border-radius: 35px;
  	width: 1691px;
  	height: 669px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-9-icon {
  	position: absolute;
  	top: 10797px;
  	left: 125px;
  	border-radius: 35px;
  	width: 811px;
  	height: 509px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-12-icon {
  	position: absolute;
  	top: 11344px;
  	left: 125px;
  	border-radius: 35px;
  	width: 811px;
  	height: 541px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-13-icon {
  	position: absolute;
  	top: 12564px;
  	left: 125px;
  	border-radius: 35px;
  	width: 811px;
  	height: 541px;
  	object-fit: cover;
  	flex-shrink: 0;
}

